form {
    input[type='submit'] {
        @apply bcs-mx-2 bcs-border bcs-border-gray-300 bcs-bg-blue-600 bcs-text-white bcs-px-4 bcs-py-2 bcs-rounded-md
    }
    label:not(:first-of-type) {
        @apply bcs-pl-2
    }
    .columns-3 {
        columns: 3 auto;
        @media (max-width: 767px) {
            columns: 1 auto;
        }
        @media (min_width: 1023px) and (max-width: 767px) {
            columns: 2 auto;
        }
    }
    select {
        @apply bcs-pl-2 bcs-pr-6 bcs-border bcs-border-gray-300
    }
    @apply bcs-text-base
}